<section class="section partners">
  <div class="container">
    <div class="partners__container">
      <h4 class="partners__title h4 bold">Trusted by official marketing partners</h4>
      <div class="logos">
        <a href="/" class="logos__item">
          <img src="img/shopify.svg" alt="Shopify">
        </a>
        <a href="/" class="logos__item">
          <img src="img/facebook.png" alt="Facebook">
        </a>
        <a href="/" class="logos__item">
          <img src="img/tiktok.png" alt="Tiktok">
        </a>
      </div>
    </div>
  </div>
</section>
