<div class="partners-list">
  <a href="/" class="partners-list__item partners-list__item_loveus">
    <img src="img/users-love-us.svg" alt="Users Love Us">
  </a>
  <a href="/" class="partners-list__item partners-list__item_leader">
    <img src="img/leader-winter.svg" alt="Leader Winter 2021">
  </a>
  <a href="/" class="partners-list__item partners-list__item_fb">
    <img src="img/facebook-logo.png" alt="Facebook">
  </a>
  <a href="/" class="partners-list__item partners-list__shopify">
    <img src="img/shopify-partners.svg" alt="Shopify Partners">
  </a>
  <a href="/" class="partners-list__item partners-list__item_tiktok">
    <img src="img/tiktok.png" alt="Tiktok">
  </a>
  <a href="/" class="partners-list__item partners-list__item_tech50">
    <img src="img/50-logo.png" alt="Technology Fast 50">
  </a>
</div>
