<div class="quote-box bg-light">
  <q class="quote-box__quote regular">
    The platform took a lot of the <br /><strong>back-and-forth off of my plate</strong>, so I was able to spend time on other aspects of our marketing program.
  </q>
  <div class="quote-box__author">
    <img src="img/avatar.png" alt="Marissa Haby" class="quote-box__avatar">
    <div class="text">
      <span class="quote-box__author-text">
        <strong>Marissa Haby</strong>
        Product Marketing Manager
      </span>
      <img src="img/philips.svg" alt="Philips" class="quote-box__img">
    </div>
  </div>
</div>
