.icon-arrow-next-lg {
  width: 1.6em;
  height: 1em;
  fill: initial;
}
.icon-arrow-next {
  width: 1.79em;
  height: 1em;
  fill: initial;
}
.icon-checkmark {
  width: 1em;
  height: 1em;
  fill: initial;
}
